/*цвет основного текста #212121; */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент background: #2196F3; */
/* футер #2F303A */
/* контакты: rgba(255, 255, 255, 0.4) */
/* вторичный цвет фона: #F5F4FA */

/* Hero */
.hero {
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  max-width: 650px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  align-content: center;
  text-transform: uppercase;
}
.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.padding-top {
  padding-bottom: 0;
}
.invisible {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.form {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.modal-text {
  text-align: center;
  margin: 0;
  color: var(--title-text-color);
  font-size: 20px;
  margin-bottom: 30px;
}
.form-field {
  position: relative;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 8px 12px;
  padding-left: 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  outline: none;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    left 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-39px);
  left: 17px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-43%);
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}
/* 
 /* .form-field:focus-within > .form-icon {
  fill:var(--accent-color);
/*  */

.form-comment {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
  height: 120px;
}
.label-comment {
  position: absolute;
  padding: 12px 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
  line-height: 1.14;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus + .label-comment,
.comment:not(:placeholder-shown) + .label-comment {
  transform: translateY(-31px);
  left: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
}
.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover,
.comment:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  outline: none;
}
.agreement {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  line-height: 1.71;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* margin-right: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
}
.checkbox-icon {
  display: inline-block;
  border: 2px solid black;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border-radius: 4px;
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/svg/icon\ check.svg");
  background-size: contain;
  background-origin: border-box;
}
.terms {
  display: inline-block;
  color: var(--primary-text-color);
  text-align: center;
}
.close {
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  position: absolute;
  padding: 6px;
  top: 8px;
  right: 8px;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
}
.close:focus {
  fill: var(--accent-color);
  cursor: pointer;
  outline: none;
}
.form .send {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px 10px 56px;
}
.form button:hover,
.form button:focus {
  cursor: pointer;
  outline: none;
}

/* Features */
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: 270px;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.list-item:not(:last-child) {
  margin-bottom: 12px;
}
.icon-container {
  height: 120px;
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Examples */
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list .example {
  width: 370px;
  position: relative;
}
.skills {
  margin-bottom: 30px;
}
.work-list .example:not(:last-child) {
  margin-right: 30px;
}
.work-list .title {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.our-team {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team .performing {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team .performing:not(:last-child) {
  margin-right: 30px;
}
.photo {
  margin-bottom: 30px;
}
.our-team .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team .vacancy {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.soc-net {
  fill: Currentcolor;
}

.team .social-list {
  margin: 0 32px 24px 32px;
}
/* Постоянные клиенты */
.customers {
  display: flex;
  flex-wrap: wrap;
}
.customers-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-container:hover,
.customers-container:focus {
  border: 1px solid #2196f3;
  fill: var(--accent-color);
  cursor: pointer;
}
.customers .company:not(:last-child) {
  margin-right: 30px;
}

/* Portfolio */
.invisible {
  margin-top: 0;
  margin-bottom: 0;
}

/* Кнопки */

.portfolio .button-secondary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--font-text);
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .link:hover,
.portfolio .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio .radio-button:not(:last-child) {
  margin-right: 8px;
}
/* Примеры работ */
.projects {
  display: flex;
  flex-wrap: wrap;
}
.my-work {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.my-work > .link:hover,
.my-work > .link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  outline: 1px solid #eeeeee;
}
.card-content {
  padding: 20px 22px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.my-work:nth-child(3n) {
  margin-right: 0;
}
.my-work:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Альтернативный вариант 1*/

/* .projects{
  display: flex;
  flex-wrap: wrap;
  margin:-15px;
} */
/* .my-work {
  width: 370px;
  margin:15px;
} */

/* Альтернативный вариант 2*/
/* .my-work:not(:nth-child(3n)){
  margin-right:30px;
}
   */
/* .my-work:not(:nth-last-child(-n+3)){
     margin-bottom:30px;
   } */
.projects .job {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.product {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects .text {
  position: absolute;
  margin: 0;
  width: 100%;
  color: var(--primary-white-color);
  padding: 63px 24px 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Позиционирование по середине */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.my-work > .link:hover .product-overlay,
.my-work > .link:focus .product-overlay {
  transform: translateY(0);
  opacity: 1;
}
.my-work > .link:hover .text,
.my-work > .link:focus .text {
  opacity: 1;
}

.projects .link {
  text-decoration: none;
  display: block;
}
.projects .name {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
