/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.padding-top {
  padding-bottom: 0;
}
.invisible {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
